# Define que o Git sempre converterá delimitadores de linha em LF
*.txt eol=lf
*.md eol=lf
*.html eol=lf
*.css eol=lf
*.js eol=lf
*.sh eol=lf

# Adicionando o JSON do Node como linguagem
package.json linguist-detectable=true
package.json linguist-documentation=false

