@import url('https://fonts.cdnfonts.com/css/pokemon-solid'); /* Fonte do h1 da logo */

body {
    background-color: #2C3E50; 
    color: #ECF0F1; 
    font-family: 'Arial', sans-serif;
    text-align: center;
}

input[type="text"] {
    margin-right: 10px;
}

h1 {
    color: #F1C40F; 
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Pokemon Solid', sans-serif;
}

span, samp {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input, select {
    background-color: #34495E;
    color: #ECF0F1;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #e6eaee; 
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1%;
}

button:hover {
    background-color: #dad7d7;
}

#botao-editar {
    background-color: #79d622; 
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botao-editar:hover {
    background-color: #6fb42e;
}

#botao-remover {
        background-color: #E74C3C; 
        color: #FFF;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

#botao-remover:hover {
    background-color: #C0392B;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #34495E;
    color: #ECF0F1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }

    input, select, button {
        width: 90%;
        margin: 10px auto;
        display: block;
    }
}

/* Cor nas opções de status */

option.normal {
    background-color: #49524d;
}

option.queimado {
    background-color: #E74C3C;
}

option.envenenado {
    background-color: #9B59B6;
}

option.adormecido {
    background-color: #3498DB;
}

option.paralisado {
    background-color: #F1C40F;
}

option.confuso {
    background-color: #E67E22;
}
