/*

Estilos da pagina HTML do aplicativo


Autor: d4nkali
Data: 02/10/2024

*/

body {

    background-color: #2C3E50; /* Cor mais escura para o fundo */
    color: #ECF0F1; /* Texto claro para contraste */
    font-family: 'Arial', sans-serif;
    text-align: center;

}

h1 {

    color: #F1C40F; /* Amarelo vibrante para o título */
    font-size: 2.5em;
    margin-bottom: 20px;

}

input, select {

    background-color: #34495E;
    color: #ECF0F1;
    border: none;
    padding: 10px;
    border-radius: 5px;

}

button {

    background-color: #E74C3C; 
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #C0392B;
}

ul {

    list-style-type: none;
    padding: 0;
    margin-top: 20px;

}

li {

    background-color: #34495E;
    color: #ECF0F1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }

    input, select, button {
        width: 90%;
        margin: 10px auto;
        display: block;
    }
}
